{% extends 'base.html' %}
{% block content %}
    <h2>Books</h2>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Download</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>
            {{book.title}}
        </td>
        <td>
            {{book.author}}
        </td>
        <td>
            {{book.description}}
        </td>
        <td>
            <a href="{{book.pdf.url}}">Download</a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <a href="http://localhost:8000/books/upload" class="btn btn-primary">Upload Books</a>
    </tr>
    </thead>
</table>
{% endblock content %}

